<html>

<head>
  <title>TRAPPIC|ENFORCER</title>

  <script src="node_modules/web3/dist/web3.js" type="text/javascript"></script>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Poppins&display=swap" rel="stylesheet">
</head>

<body>
  <section id="nav-bar">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/home"><img src="trappic logo.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/home">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/searchdriver">File a Ticket<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="violations.html">List of Violations<span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/history">Caught History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Account</a>
          </li>

        </ul>
      </div>
    </nav>

  </section>
  {{#each result}}
  <section id="Dashboard">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title" id="num"></h5>
            <p class="card-text">TOTAL CAUGHT</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <p id="enno">{{dno}}</p>
  {{/each}}
  <div class="buttons">

    <button onclick="window.location.href = '/searchdriver';" type="button"
      class="btn btn-outline-warning btn-lg btn-block">File a Ticket</button>
    <button onclick="window.location.href = 'violations.html';" type="button"
      class="btn btn-outline-warning btn-lg btn-block">List of Violations</button>
    <button onclick="window.location.href = '/history';" type="button"
      class="btn btn-outline-warning btn-lg btn-block">Caught History</button>
    <button onclick="window.location.href = '/profile';" type="button"
      class="btn btn-outline-warning btn-lg btn-block">Account Info</button>
  </div>

  <script src="../server.js"></script>
  <script>
    var enno;
    web3.eth.getAccounts().then(function (accounts) {
      $(document).ready(function () {
        var acc = accounts[0];
        var en = document.getElementById("enno");
        en.style.display = "none";
        enno = en.innerHTML;


        var mycontract = new web3.eth.Contract(abi, address, {
          from: acc,
          gasPrice: '0',
          gas: 1400000
        });

        mycontract.methods.getnumoff(enno).call({ from: acc }).then(function (len) {
          document.getElementById('num').innerHTML = len;
        })
      })
    })
  </script>
</body>

</html>